.poster-bg {
    background-image: url('/image/banner-4.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 1025px) {
    .poster-bg {
        height: 150vh;
    }
}
@media (max-width: 767px) {
    .poster-bg {
        height: 130vh;
    }
}
@media (max-width: 550px) {
    .poster-bg {
        height: 110vh;
    }
}

.poster-content::after {
    position: absolute;
    content: '';
    background-color: rgb(77, 76, 80, 0.2);
    width: 700px;
    height: 700px;
    border-radius: 100%;
    top: -100px;
    right: -50px;
    
}