.Requestsite *{
font-family: 'iransans'!important;
}

.btnnext{
    background: #3CD3AD;
    color: white;
    
}
.step1 h4 {
    font-family: "yekan"!important;
}

.step1 h3 , .step1 h2{
    font-family: "alibaba"!important;
}

.steps > div{
animation: fade 0.8s;

}
.steps > div input{
    animation: fade 1s;
    
    }
   
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}