@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 80%;
    margin: auto;
   
}



.container-field {
    width: 100%;
    margin: auto;
    direction: rtl!important;
  }
  .container{
      padding-right:0.75rem!important;
      padding-left: 0.75rem!important;
      margin-right: auto;
      margin-left: auto;
    
  }

  @media only screen and (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    .container-half{
      max-width: 270px;
    }
  }
  
  @media (min-width: 768px) {
      .container {
          max-width: 720px;
      }
      .container-half{
        max-width: 360px;
      }
  }
  
  @media (min-width: 992px) {
      .container {
          max-width: 960px;
      }
      .container-half {
        max-width: 480px;
    }
  }
  
  @media (min-width: 1200px) {
      .container {
          max-width: 1140px;
      }
      .container-half {
        max-width: 570px;
    }
  }
  
  @media (min-width: 1250px) {
      .container {
          max-width: 1250px;
      }
      .container-half {
        max-width: 625px;
    }
  }