.logosite{
   
    transform: skewX(-15deg);
}
.top-navbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.602);
}

.navmenu li{
cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .logosite{
        display: none !important;
    }
    .top-navbar {
        width: 1100px;
    }
}

@media only screen and (min-width: 1100px) {
   
    .top-navbar {
        width: 75%;
    }
}