.bg-navbar{
animation: fadeshow 0.5s;
}
.sidein{
  animation: sidein 1s;
}
.sideout{
  animation: sideout 1s;
}

.header {
  background-color: transparent
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white !important;
  transition: all 0.3s ease-in-out;
  margin-top: unset!important;
}

.nav-group {
  color: #ffffff;
}
.navbar-collapse {

  position: fixed;
  right: 0px;
  top: 0;
  padding: 30px;
  height: 100%;
  min-height: 100vh;
  z-index: 50;
  background-color: white;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  justify-content: space-between;
  
}

.nav-link:hover {
  background-color: #f0f0f0;
}

.sub-menu {
  list-style: none;
  margin: 0;
  background-color: #f9f9f9;
  border-right: 2px solid #ddd;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.nav-item.active .sub-menu {
  max-height: 300px;
  overflow: auto;
  opacity: 1;
}

.sub-item {
  padding: 10px 15px;
 
}

.sub-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  justify-content: space-between;
}

.sub-link:hover {
  color: #494949;
}



/* animation */

@keyframes fadeshow {
  0%{opacity: 0;}
  100%{opacity: 0.5;}
}

@keyframes sidein {
  0%{right: -1000px;}
  100%{right: 0}
}

@keyframes sideout {
  0%{right:0}
  100%{right: -1000px}
}